<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PDF Document</title>
</head>
<body>
    <h1>PDF Document</h1>
    <p><strong>User Name:</strong> {{ userName }}</p>
    <p><strong>Request Title:</strong> {{ requestTitle }}</p>
    <p><strong>Request Description:</strong> {{ requestDescription }}</p>
    <p><strong>PDF Generated on:</strong> {{ pdfDate }}</p>
</body>
</html>
